$pc:  "only screen and (min-width: 1200px)";
$tablet:  "only screen and (min-width:479px) and (max-width:768px)"; //iPad Mini
$smartphone:  "only screen and (max-width:479px)";

// Common
/**
*
*LPの共通CSS
*lp-ttl:見出し
*cnt-mg-top: headerのeight 70pxに合わせた各cntのmargin-top
*cnt-top: 各要素のmargin-top
*/


body{
    font-family: "UD デジタル 教科書体 N-R";
}

a{
    text-decoration: none;
    font-family: "UD デジタル 教科書体 N-R";
}

li{
    list-style: none;
}

.lp-p{
    font-family: "UD デジタル 教科書体 N-R";
    font-size: 20px;
    line-height: 2;
    color: #4d5156;
}

.lp-h3{
    font-family: "UD デジタル 教科書体 N-R";
    font-size: 26px;
    color: #303030;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.lp-h3-no{
    font-size: 36px;
}

.flex{
    display: flex;
}

.cnt-position{//【配置の共通化】一番上のdivにつける
    display: flex;
    justify-content: center;
}

.lp-ttl{
    color: #800000;
}

.attention-color{
    color: #C25338;
}

.red-p{
    color: red;
    font-weight: bold;
}
// Header
.user-header{
    background-color: #FBF0F6;
    width: 100%;
}

.admin-header{
    background-color: rgb(45 121 214 / 37%);
    width: 100%;
}

.header{
    position: absolute;
    justify-content: space-between;
    position: fixed; /* ヘッダーを固定する */
    align-items: center;
    z-index: 9999;

    .logo{
        align-items: center;

        .logo-img{
            height: 50px;
            padding-right: 10px;
        }

        .logo-p{
            color: #800000;
            font-weight: bold;
            font-size: 25px;
        }
    }

    nav{
        ul{
            text-align: center;

            li{
                padding-right: 10px;
            }

            li:last-child{
                padding-right: 0;
            }

            li a{
                padding: 5px;
                border-radius: 5px;
                color: #800000;
                font-weight: bold;
            }

            li a:hover{
                color: #4d5156;
            }
        }
    }
}

// Footer
.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: #9a7c62c8;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.lp-footer{
    position:absolute;
    width: 100%;
    background-color: #9a7c62c8;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

/* LP */
// Parent
#parent{
    background-color: #aa8eee42;
}

//About
.about-ul{
    margin-bottom: 10px;

    li{
        font-size: 20px;
    }
}

.about-subttl{
    font-weight: bold;
    margin-bottom: 5px;
}

.feature-cnt{
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    .featureText,
    .featureImg{
        width: 45%;
    }

    .featureNo{
        margin-bottom: 15px;
        font-size: 35px;
        color: #800000;
    }

    .featureImg{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

.teacherFeatureCnt{
    background-color: #aa8eee42;
}


// Live Clock
.clock{
    margin-bottom: 30px;

    #Date{
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
    }

    ul{
        justify-content: center;
        align-items: center;

        li{
            list-style-type: none;
        }
    }

    #hours,
    #min{
        font-size: 120px;
    }

    #point{
        font-size: 60px;
    }
}

//auth-form
.auth-flame{
    margin-top: 100px;

    p{
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    .auth-form{
        margin: 0 auto;
        width: 400px;

        form{
            width: 100%;
        }
    }

    .auth-input{
        flex-direction: column
    }

    .auth-submit{
        flex-direction: column;

        .pw-reset{
            display: block;
            text-align: center;
        }
    }

    .remember-me{
        margin-bottom: 20px;
    }

    .input-css{
        margin: 10px 0;
        padding:10px;
        border:0;
        border-radius:10px;
        border: 2px solid rgb(206, 205, 205);
        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    }

    .textarea-css{
        resize:  vertical;
    }
}

.input-img{
    padding: 10px;
    margin: 10px 0;
}

.form-ttl{
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

//table
.table{
    margin-bottom: 40px;

    table{
        width: 100%;
    }

    tr{
        border: 2px solid #80000074;
    }

    th,
    td{
        border: 1.5px solid #8000003f;
    }

    th{
        background-color: rgb(128 0 0 / 85%);
        color: #fff;
        text-align: center;
    }

    td{
        text-align:left;
    }

    li{
        list-style: none;
        text-align: center;
    }

    .td-status,
    .td-time{
        width: 45%;
    }

    .td-checkbox{
        width: 10%;
        transform: scale(2);
        margin-right: 11px;
    }
}

.table-attention-txt{
    margin-bottom: 30px;
}

// 会員　リスト
.table-student{
    width: 35%;
}

.table-qr{
    width: 35%;
}

.table-btn{
    width: 30%;
}

.table-btn-position{
    justify-content: center
}

.lists-btn-position{
    justify-content: center;
}

.lists-img{
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 20px;
}

.alert-success{
    margin-bottom: 15px;
    background-color: #DDFFDD;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.alert-error{
    margin-bottom: 15px;
    background-color: #ffdddd;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.show-form{
    flex-direction: column
}

.lists-img{
    width: 60px;
    height: 60px;

    img{
        width: 100%;
        height: 100%;
        border-radius: 100px;
    }
}

.index-img{
    width: 70px;
    height: 70px;
    margin-right: 20px;

    .rounded-circle{
        width: 100%;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

/*QR読み取り画面*/
.attendance-bgcolor{
    background-color: #bee8dca7;
    height: 100%;
}

.attendance-ttl{
    font-size: 60px;
    color: #4d5156;
    text-align: center;
    margin-bottom: 10px;
}

.attendance-width{
    width: 90%;
}

.attendance-card{
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    margin-bottom: 40px;
}

#attendance-cnt{
    width: 50%;
}

.attendance-img{
    text-align:center;
    margin-bottom: 40px;
    padding: 20px;

    img{
        width: 350px;
    }

    p{
        margin-top: 15px;
        font-family: "UD デジタル 教科書体 N-R";
        font-size: 60px;
    }

    .small-p{
        font-size: 26px;
    }
}

#qrreader{
    width: 50%;
    position: relative;

    .flog{
        width: 100%;
    }

    #preview{//flogに対して中央寄せ
        position: absolute;
        top: 27%;
        left: 9.5%;
        // transform: translate(-50%, -50%);
        // width: 100%;
        // top: 29%;
        // left: 9%;
        width: 565px;
        border-radius: 100%;
    }
}

// 【管理者】attendance/index.blade.php
.checkbox-p{
    font-size: 14px;
}

.attendanceTd{
    align-items: center;
    justify-content: space-between;
}

// 【管理者】attendance/index.blade.php
.attendanceAbsenceTable{
    justify-content: space-between;
    width: 100%;
}

.attendanceTable{
    width: 60%;
}

.absenceTable{
    width: 35%;
}

.calculation {
    table{
        th, td{
            padding: 10px;
        }
    }
}


@media #{$pc} {
    .cnt-width{//【配置の共通化】.cnt-positionのdivの下に作ったdivにこのcssを書く
        width: 900px;
    }

    .cnt-mg-top{
        margin-top: 70px;
    }

    .cnt-top{
        margin-top: 70px;
    }
    .cnt-btm{
        margin-bottom: 70px;
    }

    .lp-ttl{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .lp-btn-position{
        justify-content: center;
    }

    // Header
    .user-header{
        height: 70px;
    }

    .admin-header{
        height: 70px;
    }

    .header{
        height: 60px;
        padding: 5px 0;
    }

    // Header スクールして背景色変更
    header.change-color {
        background-color: #ffcc9f73;
        transition: 0.3s;
        width: 100%;
        height: 70px;
        position: fixed;
    }

    // First View
    .firstview{
        background-image: url(/img/lp/bg.jpg);
        background-size: cover;
        min-height: 700px;
        width: 100%;
        opacity: 70%;

        p{
            text-align: center;
            padding-top: 200px;
            font-size: 40px;
            color: #800000;

            span{
                font-weight: bold;
            }
        }
    }

    // Message
    #message{

        .message-img{
            width: 250px;
        }

        .message-txt{
            padding: 30px;
            width: 100%;

            .logo{
                color: #800000;
                font-size: 45px;
                font-weight: bold;
            }

            p{
                font-size: 20px;
                color: #4d5156;
                line-height: 2em;
            }
        }
    }

    // live clock

    /*table*/
    .table{

        table{

            th,
            td{
                font-size: 20px;
                padding: 10px 20px;
            }
        }
    }

    .table-btn-position{
        justify-content: flex-end;

        .login{
            margin: 0;
        }
    }
}

@media #{$tablet} {//縦画面

    .cnt-width{//【配置の共通化】.cnt-positionのdivの下に作ったdivにこのcssを書く
        width: 80%;
    }

    .cnt-mg-top{
        margin-top: 50px;
    }

    .cnt-top{
        margin-top: 50px;
    }
    .cnt-btm{
        margin-bottom: 50px;
    }

    .lp-ttl{
        font-size: 30px;
    }

    .lp-btn-position{
        justify-content: center;
    }

    .footer{
        position:absolute;
        bottom: 0;
    }

    // Header
    .user-header{
        height: 60px;
    }

    .admin-header{
        height: 60px;
    }

    .header{
        height: 60px;
        padding: 5px 0;
    }

    // Header スクールして背景色変更
    header.change-color {
        background-color: #ffcc9f73;
        transition: 0.3s;
        width: 100%;
        height: 60px;
        position: fixed;
    }

    // First View
    .firstview{
        background-image: url(/img/lp/bg.jpg);
        background-size: cover;
        min-height: 700px;
        width: 100%;
        opacity: 70%;

        p{
            text-align: center;
            padding-top: 200px;
            font-size: 30px;
            color: #800000;

            span{
                font-weight: bold;
            }
        }
    }

    // Message
    #message{

        .message-img{
            width: 80px;
        }

        .message-txt{
            padding: 30px;
            width: 100%;

            .logo{
                color: #800000;
                font-size: 20px;
                font-weight: bold;
            }

            p{
                font-size: 20px;
                color: #4d5156;
                line-height: 2em;
            }
        }
    }

    // Table
    .table{

        table{

            th,
            td{
                font-size: 18px;
                padding: 5px 0;
            }
        }
    }
}


@media #{$smartphone} {//縦画面
    .cnt-width{//【配置の共通化】.cnt-positionのdivの下に作ったdivにこのcssを書く
        width: 80%;
    }

    .cnt-mg-top{
        margin-top: 70px;
    }

    .cnt-top{
        margin-top: 70px;
    }
    .cnt-btm{
        margin-bottom: 70px;
    }

    .lp-ttl{
        font-size: 40px;
    }

    .lp-btn-position{
        justify-content: center;
    }

    .footer{
        position:absolute;
        bottom: 0;
    }

    // Header
    .user-header{
        height: 60px;
    }

    .admin-header{
        height: 60px;
    }

    .header{
        height: 60px;
        padding: 5px 0;
    }

    // Header スクールして背景色変更
    header.change-color {
        background-color: #ffcc9f73;
        transition: 0.3s;
        width: 100%;
        height: 60px;
        position: fixed;
    }

    // First View
    .firstview{
        background-image: url(/img/lp/bg.jpg);
        background-size: cover;
        min-height: 700px;
        width: 100%;
        opacity: 70%;

        p{
            text-align: center;
            padding-top: 200px;
            font-size: 40px;
            color: #800000;

            span{
                font-weight: bold;
            }
        }
    }
}