@charset "UTF-8";
button {
  cursor: pointer;
  cursor: hand;
}

.register {
  margin: 0 30px;
}
.register a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 12gi0px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #FE9FBF;
  box-shadow: 0 5px 0 #643d4a;
  transition: 0.3s;
  border-radius: 15px;
}
.register a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}
.register a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.login {
  margin: 0 30px;
}
.login a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 120px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #2D79D6;
  box-shadow: 0 5px 0 #203855;
  transition: 0.3s;
  border-radius: 15px;
}
.login a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}
.login a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.login-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 120px;
  color: #fff;
  font-family: "UD デジタル 教科書体 N-R";
  font-size: 18px;
  font-weight: 700;
  background-color: #2D79D6;
  box-shadow: 0 5px 0 #203855;
  border: none;
  transition: 0.3s;
  border-radius: 15px;
}

.login-btn::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.login-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.auth-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 30px;
  height: 48px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #FE9FBF;
  box-shadow: 0 5px 0 #643d4a;
  transition: 0.3s;
  border-radius: 15px;
  border: none;
}

.auth-register::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.auth-register:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.auth-btn {
  text-align: center;
  margin-bottom: 20px;
}

.auth-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 30px;
  height: 48px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #2D79D6;
  box-shadow: 0 5px 0 #203855;
  transition: 0.3s;
  border-radius: 15px;
  border: none;
}

.auth-login::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.auth-login:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.edit {
  border: 2px solid #336600;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
}
.edit a {
  color: #336600;
}

.edit:hover {
  background-color: #336600;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
}
.edit:hover a {
  color: #fff;
}

.delete {
  border: 2px solid #CC3300;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
}
.delete a {
  color: #CC3300;
}

.delete:hover {
  background-color: #CC3300;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
}
.delete:hover a {
  color: #fff;
}

.delete-btn {
  background-color: #fff;
  border: 2px solid #CC3300;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
  font-size: 20px;
  font-family: "UD デジタル 教科書体 N-R";
  color: #CC3300;
}

.delete-btn:hover {
  background-color: #CC3300;
  border: 2px solid #CC3300;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
  font-size: 20px;
  font-family: "UD デジタル 教科書体 N-R";
  color: #fff;
}

.details {
  border: 2px solid #4d33d1;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
}
.details a {
  color: #4d33d1;
}

.details:hover {
  background-color: #4d33d1;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
}
.details:hover a {
  color: #fff;
}

.details-btn {
  background-color: #fff;
  border: 2px solid #4d33d1;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
  font-size: 20px;
  font-family: "UD デジタル 教科書体 N-R";
  color: #4d33d1;
}

.details-btn:hover {
  background-color: #4d33d1;
  border: 2px solid #4d33d1;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(211, 210, 210, 0.462745098);
  padding: 5px;
  margin: 0 5px;
  font-size: 20px;
  font-family: "UD デジタル 教科書体 N-R";
  color: #fff;
}

.paging {
  display: flex;
  justify-content: center;
}
.paging .pagination {
  display: flex;
}
.paging .pagination li {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #800000;
}
.paging .pagination .active {
  background-color: #800000;
  color: #fff;
}

.show-btn {
  width: 100%;
  margin: 0;
}

.camera-btn-position {
  justify-content: center;
  margin-bottom: 50px;
}

.attendance {
  margin: 0 30px;
}
.attendance a {
  background-color: #FE9FBF;
  border-radius: 15px;
  width: 100px;
  padding: 10px;
  font-size: 26px;
  color: #fff;
}
.attendance a::after {
  content: "";
  background-image: url(../img/camera.png);
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 10px;
}
.attendance a:hover {
  text-decoration: none;
  border: 2px solid #FE9FBF;
  background-color: #fff;
  color: #FE9FBF;
  font-weight: bold;
  font-family: "UD デジタル 教科書体 N-R";
}
.attendance a:hover::after {
  background-image: url(../img/cameraPink.png);
}

.leave {
  margin: 0 30px;
}
.leave a {
  background-color: #2D79D6;
  border-radius: 15px;
  width: 100px;
  padding: 10px;
  font-size: 26px;
  color: #fff;
}
.leave a::after {
  content: "";
  background-image: url(../img/camera.png);
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 10px;
}
.leave a:hover {
  text-decoration: none;
  border: 2px solid #2D79D6;
  background-color: #fff;
  color: #2D79D6;
  font-weight: bold;
  font-family: "UD デジタル 教科書体 N-R";
}
.leave a:hover::after {
  background-image: url(../img/cameraBlue.png);
}

.attendance-btn {
  justify-content: center;
  margin-top: 10px;
}

.yes {
  margin: 0 20px;
  margin-bottom: 40px;
}
.yes button {
  border: none;
  background-color: #FE9FBF;
  border-radius: 15px;
  width: 100px;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
  font-family: "UD デジタル 教科書体 N-R";
  color: #fff;
}
.yes button:hover {
  text-decoration: none;
  border: 2px solid #FE9FBF;
  border-radius: 15px;
  background-color: #fff;
  color: #FE9FBF;
  width: 100px;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
  font-family: "UD デジタル 教科書体 N-R";
}

.no {
  margin: 0 20px;
  margin-bottom: 40px;
}
.no a {
  display: block;
  background-color: #2D79D6;
  border-radius: 15px;
  width: 120px;
  padding: 10px;
  font-size: 36px;
  color: #fff;
}
.no a:hover {
  display: block;
  text-decoration: none;
  border: 2px solid #2D79D6;
  background-color: #fff;
  color: #2D79D6;
  font-weight: bold;
  font-family: "UD デジタル 教科書体 N-R";
}

.back a {
  border-radius: 15px;
  width: 100px;
  padding: 10px;
  font-size: 26px;
  border: 2px solid #2D79D6;
  background-color: #fff;
  color: #2D79D6;
}
.back a:hover {
  text-decoration: none;
  background-color: #2D79D6;
  color: #fff;
  font-weight: bold;
  font-family: "UD デジタル 教科書体 N-R";
}

#pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#pagination .pagination {
  display: flex;
}
#pagination .pagination .page-item {
  padding: 10px;
  border: 1px solid rgba(128, 0, 0, 0.189);
}
#pagination .pagination .active {
  color: #fff;
  background-color: rgba(128, 0, 0, 0.845);
}
#pagination .pagination .page-link {
  font-size: 18px;
}

.dashboard-position-btn {
  justify-content: center;
}/*# sourceMappingURL=button.css.map */