button{
    cursor: pointer;
    cursor: hand;
}
// 【LP】会員登録
.register{
    margin: 0 30px;

    a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1em 2em;
        width: 12gi0px;
        color: #333;
        font-size: 18px;
        font-weight: 700;
        background-color: #FE9FBF;
        box-shadow: 0 5px 0 #643d4a;
        transition: 0.3s;
        border-radius: 15px;
    }

    a::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 3px solid #333333;
        border-right: 3px solid #333333;
        transform: rotate(45deg);
    }

    a:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #aaaaaa;
    }
}

// 【LP】ログイン
.login{
    margin: 0 30px;

    a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1em 2em;
        width: 120px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        background-color: #2D79D6;
        box-shadow: 0 5px 0 #203855;
        transition: 0.3s;
        border-radius: 15px;
    }

    a::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 3px solid #333333;
        border-right: 3px solid #333333;
        transform: rotate(45deg);
    }

    a:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #aaaaaa;
    }
}

.login-btn{
    // margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 120px;
    color: #fff;
    font-family: "UD デジタル 教科書体 N-R";
    font-size: 18px;
    font-weight: 700;
    background-color: #2D79D6;
    box-shadow: 0 5px 0 #203855;
    border: none;
    transition: 0.3s;
    border-radius: 15px;
}

.login-btn::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
}

.login-btn:hover{
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
}

// Auth【会員登録】
.auth-register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 30px;
    height: 48px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #FE9FBF;
    box-shadow: 0 5px 0 #643d4a;
    transition: 0.3s;
    border-radius: 15px;
    border: none;
}

.auth-register::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}

.auth-register:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
}

// Auth【ログイン】
.auth-btn{
    text-align: center;
    margin-bottom: 20px;
}
.auth-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 30px;
    height: 48px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #2D79D6;
    box-shadow: 0 5px 0 #203855;
    transition: 0.3s;
    border-radius: 15px;
    border: none;
}

.auth-login::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}

.auth-login:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
}

// 編集
.edit{
    border: 2px solid #336600;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;

    a{
        color: #336600;
    }
}

.edit:hover{
    background-color: #336600;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;

    a{
        color: #fff;
    }
}

// 削除
.delete{
    border: 2px solid #CC3300;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;

    a{
        color: #CC3300;
    }
}

.delete:hover{
    background-color: #CC3300;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;

    a{
        color: #fff;
    }
}

.delete-btn{
    background-color: #fff;
    border: 2px solid #CC3300;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;
    font-size: 20px;
    font-family: "UD デジタル 教科書体 N-R";
    color: #CC3300;
}

.delete-btn:hover{
    background-color: #CC3300;
    border: 2px solid #CC3300;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;
    font-size: 20px;
    font-family: "UD デジタル 教科書体 N-R";
    color: #fff;
}

// 詳細
.details{
    border: 2px solid #4d33d1;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;

    a{
        color: #4d33d1;
    }
}

.details:hover{
    background-color: #4d33d1;
    border-radius: 5px;
    box-shadow: 0 3px 0 #d3d2d276;
    padding: 5px;
    margin: 0 5px;

    a{
        color: #fff;
    }
}

//Pagination
.paging{

    display: flex;
    justify-content: center;

    .pagination{
        display: flex;

        li{
            font-size: 20px;
            padding: 10px;
            border: 1px solid #800000;
        }

        .active{
            background-color: #800000;
            color: #fff;
        }
    }
}